name: "Terraform Plan"

on:
  pull_request:
    branches:
      - main
    paths:
      - 'infra/**'

jobs:
  terraform:
    name: "Terraform Plan"
    runs-on: ubuntu-latest
    env:
      # These refer to the secrets you stored in GitHub Settings
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      AWS_REGION: "us-east-1" # Change to your region

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Terraform CLI
        uses: hashicorp/setup-terraform@v3
        # Note: We do NOT provide a 'cli_config_credentials_token'
        # This keeps it "Local/Free" and avoids HCP Terraform.

      - name: Terraform Init
        run: terraform init
        working-directory: ./infra

      - name: Terraform Format Check
        run: terraform fmt -check
        working-directory: ./infra

      - name: Terraform Plan
        id: plan
        run: terraform plan -no-color -input=false
        working-directory: ./infra
